# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
lib-cov
test-report.junit.xml

# build
.next
.now
*.tsbuildinfo

# misc
.DS_Store
.env*.local
.idea

# package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Sentry
.sentryclirc

# Netlify
.netlify
.env.netlify

# Sentry Config File
.env.sentry-build-plugin

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
