/* inter-latin-wght-normal */
@font-face {
	font-family: "Inter Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url("/fonts/inter.woff2") format("woff2-variations");
}

/* roboto-mono-latin-wght-normal */
@font-face {
	font-family: "Roboto Mono Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 700;
	src: url("/fonts/roboto-mono.woff2") format("woff2-variations");
}
