name: E2E tests

on:
  # Configure this workflow to trigger on pull requests and pushes to main
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:

permissions:
  contents: read
  actions: write

env:
  NEXT_PUBLIC_API_MOCKING: 'enabled'
  HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
  HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
  NONCE_ID: '${{ github.run_id || github.event.pull_request.head.label || github.head_ref || github.ref }}'

concurrency:
  # Group name from GitHub workflow example so it doesn't cancel jobs in parallel with matrix
  # (https://docs.github.com/en/actions/examples/using-concurrency-expressions-and-a-test-matrix#example-workflow)
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  install:
    runs-on: ubuntu-latest
    container: cypress/browsers:22.20.0
    steps:
      # Arrange
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Cypress install
        uses: cypress-io/github-action@1bf19d6451740384ca8c946544ef5db458bc633c # v6
        with:
          # Disable running of tests within install job
          runTests: false
          build: pnpm build

      - name: Save build folder
        uses: actions/upload-artifact@v5
        with:
          name: build
          if-no-files-found: error
          path: '.next'

  cypress-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:22.20.0
    needs: install
    strategy:
      # don't fail the entire matrix on failure
      fail-fast: false
      matrix:
        # run 2 copies of the current job in parallel
        containers: [1, 2]

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Download the build folder
        uses: actions/download-artifact@v6
        with:
          name: build

      - name: Cypress run
        uses: cypress-io/github-action@1bf19d6451740384ca8c946544ef5db458bc633c # v6
        with:
          install-command: pnpm install
          browser: chrome
          start: pnpm start
          wait-on: 'http://localhost:3000'
          record: true
          parallel: true
          group: merge
          # tag will be "push", "pull_request", or "merge_group"
          tag: ${{ github.event_name }}
          command-prefix: ${{ github.event_name != 'merge_group' && format('pnpm happo --nonce {0} -- pnpm exec', env.NONCE_ID) || '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          # - if the event is push, the title will be undefined
          # and Cypress will get the commit message from Git information
          # - if the event is pull_request, then we set the commit
          # - if the event is merge_group, then we set the commit
          # message to the pull request title
          # https://github.com/cypress-io/github-action/issues/124#issuecomment-653180260
          COMMIT_INFO_MESSAGE: ${{ github.event.pull_request.title || github.event.merge_group.head_commit.message }}

  finalize-happo:
    name: Finalize Happo
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && github.event_name != 'merge_group' }}
    needs: cypress-run
    steps:
      # Arrange
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      # Act
      - name: Run Happo finalize
        run: pnpm happo finalize --nonce $NONCE_ID

  dummy-happo:
    name: Happo
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && github.event_name == 'merge_group' }}
    steps:
      - name: Dummy Happo
        run: echo "Dummy Happo in the queue"
