name: E2E tests

on:
  # Configure this workflow to trigger on pull requests and pushes to main
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:

permissions:
  contents: read
  actions: write

env:
  NEXT_PUBLIC_API_MOCKING: 'enabled'
  HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
  HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
  NONCE_ID: '${{ github.run_id || github.event.pull_request.head.label || github.head_ref || github.ref }}'

concurrency:
  # Group name from GitHub workflow example so it doesn't cancel jobs in parallel with matrix
  # (https://docs.github.com/en/actions/examples/using-concurrency-expressions-and-a-test-matrix#example-workflow)
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    container: cypress/browsers:22.21.0@sha256:1b0e8df630f819b84ae8f46e39746ac79e3e1666208a1d0716b2e07ccafd19a9
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Cypress install
        uses: cypress-io/github-action@2ad32e649e4db26c07674ebae31a297601dbcbaf # v6.10.8
        with:
          # Disable running of tests within install job
          runTests: false
          install-command: pnpm install
          build: pnpm build

      - name: Save build folder
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: build
          if-no-files-found: error
          include-hidden-files: true
          path: .next

  cypress-run:
    name: Cypress Run
    runs-on: ubuntu-latest
    container: cypress/browsers:22.21.0@sha256:1b0e8df630f819b84ae8f46e39746ac79e3e1666208a1d0716b2e07ccafd19a9
    needs: install
    strategy:
      # don't fail the entire matrix on failure
      fail-fast: false
      matrix:
        # run 2 copies of the current job in parallel
        containers: [1, 2]

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Download the build folder
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: build
          path: .next

      - name: Run cypress tests
        uses: cypress-io/github-action@2ad32e649e4db26c07674ebae31a297601dbcbaf # v6.10.8
        with:
          install-command: pnpm install
          browser: chrome
          start: pnpm start
          wait-on: 'http://localhost:3000'
          record: true
          parallel: true
          group: merge
          # tag will be "push", "pull_request", or "merge_group"
          tag: ${{ github.event_name }}
          command-prefix: ${{ github.event_name != 'merge_group' && format('pnpm happo --nonce {0} -- pnpm exec', env.NONCE_ID) || '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_PROJECT_ID: ${{ secrets.CYPRESS_PROJECT_ID }}
          # overwrite commit message sent to Cypress Cloud
          # https://github.com/cypress-io/github-action/issues/124#issuecomment-653180260
          COMMIT_INFO_MESSAGE: ${{github.event.pull_request.title}}
          # re-enable PR comment bot
          COMMIT_INFO_SHA: ${{github.event.pull_request.head.sha}}

  finalize-happo:
    name: Finalize Happo
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && github.event_name != 'merge_group' }}
    needs: cypress-run
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Run Happo finalize
        run: pnpm happo finalize --nonce $NONCE_ID

  dummy-happo:
    name: Happo
    runs-on: ubuntu-latest
    if: ${{ !cancelled() && github.event_name == 'merge_group' }}
    steps:
      - name: Dummy Happo
        run: echo "Dummy Happo in the queue"
